<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JavaScript and Popper.js (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
          </div>
        </div>
      </nav>
    <title>Sorting Algorithms</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron"> 
            <h1 class="display-4">Sorting Algorithms</h1>
            <nav class="main-nav">
                <ul>
                    <li class="bg-secondary text-white">
                        <a href="/bubble_sort" class="text-decoration-none text-white">Bubble Sort</a>
                      </li>
                      <li class="bg-secondary text-white">
                        <a href="/selection_sort" class="text-decoration-none text-white">Selection Sort</a>
                      </li>
                      <li class="bg-secondary text-white">
                        <a href="/merge_sort" class="text-decoration-none text-white">Merge Sort</a>
                      </li>
                    <!-- Add more algorithms here -->
                </ul>
            </nav>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
</body>
</html>




